body{
background-color:
}

h1{
color: gold;
text-align: center;
font-family: cursive;
font-size: 45;
background-color: rgb(252, 252, 232);
}

h4{
  color: black;
  text-align: center;
  font-family: arial;
  font-size: 30;
  background-color: ;
}

.Navbar{
 background-color: #D3D3D3;
 overflow: hidden;
}

.Navbar a{
float: left;
color: black;
text-align: center;
padding: 14px;
text-decoration: none;
font-size: 17px;
}

.Navbar a:hover{
background-color : black;
color : white;
}

.navbar a.active{
  background:gray;
  color :white;
}

button{
  background-color: blueviolet;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  border-radius: 10px;
}

button:hover{
  background-color: mistyrose;
  color: black;
  border: 1px solid black;
  transition-duration: .5s;
}

box 2{
width: 30px;
height: 15;
margin-right: auto;
margin-left: auto;
display: circle;
}